main {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    width: 100%;
    margin: 5rem auto;
    padding: 10px;
}

section.title {
    margin-bottom: 1rem;
    text-align: center;
} section.title h1 {
    font-size: 2.2rem;
} section.title .tag {
    margin: 1rem 0;
} section.title .tag span {
    margin: 0 2px;
    background: #c58af9;
    padding: 5px 10px;
    color: #000;
    font-weight: bold;
} section.title .date {
    color: #ddd;
}

article p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 2rem 0;
    color: #ababab;
    hyphens: manual;
} article p a {
    text-decoration: underline;
    color: #dedede;
} article p a:visited {
    color: #c58af9;
} article li {
    list-style:decimal-leading-zero;
    color: #ababab;
} article .important {
    position: relative;
    background: #542280;
    font-size: 1.15rem;
    line-height: 1.5;
    padding: 10px 10px 10px 25px;
} .important::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #c58af9;
}

.end {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.related-posts {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
} .related-posts .card {
    display: flex;
    margin: 10px 0;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #222;
} .related-posts .card img {
    width: 150px;
    border-radius: 0;
} .card .content {
    margin-left: 1rem;
} .card .content h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
} .card .content span {
    font-size: 1rem;
} .card:last-child {
    border-bottom: none;
}

@media (max-width: 550px) {
    .card .content h2 {
        font-size: 1rem;
        line-height: 1.5;
    }

    article {
        font-size: 1rem;
    }
}